body {
  background-color: #775D6A;
}
div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container{
  width: 300px;
  height: 300px;
  padding-top: 20px;
 border: solid #FEFBD0 10px;
 background-color: #FEFBD0;
 border-style: outset;
}
